# Banco de dados PostgreSQL
DATABASE_URL="postgresql://usuario:senha@localhost:5432/encurtadorURL?schema=public"

# Chave secreta para geração de tokens JWT (use uma string longa e aleatória em produção)
JWT_SECRET_KEY=

# URL base da aplicação
BASE_URL="http://localhost:3000"